<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Account Book</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap -->
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/accountbook/index.html">Account Book</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/accountbook/create">Add item</a></li>
          <li><a href="/accountbook/show">Show Items</a></li>
          <li><a href="/accountbook/stats">Show Statistics</a></li>
          <li><a href="/plan/create">Update plan</a></li>
          <li class="active"><a href="#">Show plans</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="" onclick="document.logoutform.submit();return false;">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <form name="logoutform" method="POST" th:action="@{/logout}">
    <input type="hidden" />
  </form>
  <form name="selectmonthform" method="GET" action="/plan/show">
    <select class="selectpicker" name="month" onChange="this.form.submit()">
      <option th:each="month: ${months}" th:text="${month}" th:selected="${month.equals(thisMonth)}"></option>
    </select>
  </form>

  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="plan: ${plans}">
          <td th:text="${plan.type}"></td>
          <td th:text="${plan.amount}"></td>
        </tr>
        <tr>
          <td>Total</td>
          <td th:text="${#aggregates.sum(plans.![amount])}"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
